@model SAS.Web.Models.PageInfo

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    On Approval
                </div>
                <div class="card-body">
                    <div class="div-container">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Action("RenderGridViewOnApproval", "AssignmentТoMe")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>