
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    On Approval
                </div>
                <div class="card-body">
                    <div class="div-container">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DevExpress().Memo(settings =>
                                {
                                    MemoFunctions.ApplyDefault(settings, "memoAdditionalInformation", "Additional Information");
                                    settings.ReadOnly = true;
                                }).Bind("Hello World!").GetHtml()
                            </div>
                            <div class="col-md-12">
                                @Html.DevExpress().Memo(settings =>
                                {
                                    MemoFunctions.ApplyDefault(settings, "memoBusinessReason", "Business Reason");
                                    settings.ReadOnly = true;
                                }).Bind("Hello World!").GetHtml()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>